{% extends "base.html" %}

{% block content %}
    <h1 class="text-center">Offers</h1>
    <div class="text-end">
        <a href="{{ url_for('offers.make_offer') }}" class="btn btn-primary">Register Offer</a>
    </div>
    <table class="table">
        <tr>
            <th style="font-size: 18px;">Label</th>
            <th style="font-size: 18px;">Price (kr)</th>
            <th style="font-size: 18px;">Insurance</th>
            <th style="font-size: 18px;">Company</th>
        </tr>
        {% for offer in offers %}
            <tr>
                <td>{{ offer.label }}</td>
                <td>{{ offer.price }}</td>
                <td>{{ offer.insurance.label }}</td> <!-- Fetching related insurance details -->
                <td>{{ offer.company.name }}</td> <!-- Fetching related company details -->
            </tr>
        {% endfor %}
    </table>
{% endblock %}