{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
{% if insurance %}
<h1 class="text-center">{{title}} for {{insurance.label}}</h1>
{% else %}
<h1 class="text-center">{{title}}</h1>
{% endif %}
    <div class="d-flex flex-row justify-content-between">
        <form method="POST" action="{{ url_for('offers.offers_list') }}" class="form d-flex flex-row m-1">
            {{ form.hidden_tag() }}
            <div class="form-floating me-2 align-self-center"> <!-- Adjust the column width as needed -->
                {{ form.offerStatus(class="form-select", id="offerStatus") }}
                {{ form.offerStatus.label(for="offerStatus") }}
            </div>
            {{ form.submit(class="btn btn-primary align-self-center") }}
        </form>
        {% if insurance %}
        <a href="{{ url_for('offers.make_offer', insurance_id=insurance.id) }}" class="btn btn-primary align-self-center m-1" id="makeOffer">Register Offer</a>
        {% else %}
        <a href="{{ url_for('offers.make_offer') }}" class="btn btn-primary align-self-center m-1" id="makeOffer">Register Offer</a>
        {% endif %}
    </div>

    <table class="table">
        <thead>
            <tr>
                <th style="font-size: 18px;">Label</th>
                <th style="font-size: 18px;">Actions</th>
                <th style="font-size: 18px;">Price (kr)</th>
                <th style="font-size: 18px;">Insurance</th>
                <th style="font-size: 18px;">Company</th>
            </tr>
        </thead>
        {% for offer in offers %}
        <tbody>
            <tr>
                <td>{{ offer.label }}</td>
                <td>
                    <a href="{{ url_for('offers.update_offer', offer_id=offer.id) }}" class="btn btn-secondary">Edit</a>
                    <a href="{{ url_for('offers.delete_offer', offer_id=offer.id) }}" class="btn btn-danger">Delete</a>
                </td>
                <td>{{ offer.price }}</td>
                <td>{{ offer.insurance.label }}</td> <!-- Fetching related insurance details -->
                <td>{{ offer.company.name }}</td> <!-- Fetching related company details -->
            </tr>
        </tbody>
        {% endfor %}
    </table>
{% endblock %}