{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container">
        {% if insurance %}
        <h1 class="text-center">{{ title }} for {{ insurance.label }}</h1>
        {% else %}
        <h1 class="text-center">{{ title }}</h1>
        {% endif %}
        <form method="POST" action="{{ url_for('offers.make_offer') }}" class="mt-4">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.label.label(class="form-label") }}
                {{ form.label(class="form-control", id="label") }}
            </div>
            <div class="mb-3">
                {{ form.price.label(class="form-label") }}
                {{ form.price(class="form-control", id="price") }}
            </div>
            <div class="mb-3">
                {{ form.company_id.label(class="form-label") }}
                {{ form.company_id(class="form-select", id="company_id") }}
            </div>
            <div class="mb-3">
                {{ form.insurance_id.label(class="form-label") }}
                {{ form.insurance_id(class="form-select", id="insurance_id") }}
            </div>
            <div class="mb-3">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock %}