{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1 class="text-center">{{ title }}</h1>
{% if current_user.is_admin %}
<div class="text-center">
    <a href="{{ url_for('contacts.make_contact', company_id=company_id) }}" class="btn btn-primary m-1" >Register Contact</a>
</div>
{% endif %}

<table class = "table"> <!--ikke slett-->
    <thead id="thead">
        <tr>
            <th style="font-size: 18px;">Company</th>
            <th style="font-size: 18px;">Name</th>
            <th style="font-size: 18px;">Phone number</th> 
            <th style="font-size: 18px;">email</th> 
        </tr>
    </thead>

    <tbody id="tbody">
    {% for contact in contacts %}
        <tr>
            <td>{{ contact.company.name }}</td>
            <td>{{ contact.name }}</td>
            <td>{{ contact.phone_number }}</td>
            <td>{{ contact.email }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}