{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <div class="container">
        {% if insurance %}
        <h1 class="text-center">{{title}} for {{insurance.label}}</h1>
        {% else %}
        <h1 class="text-center">{{title}}</h1>
        {% endif %}
        {% if update %}
        <form method="POST" action="{{ url_for('.update_settlement', settlement_id=settlement.id) }}" class="mt-4">
        {% else %}
        <form method="POST" action="{{ url_for('.make_settlement') }}" class="mt-4">
        {% endif %}
            {{ form.hidden_tag() }}

            <div class="mb-3">
                {{ form.insurance_label.label(class="form-label") }}
                {{ form.insurance_label(class="form-select") }}
            </div>
            <div class="mb-3">
                {{ form.description.label(class="form-label") }}
                {{ form.description(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.sum.label(class="form-label") }}
                {{ form.sum(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.submit(class="btn btn-primary", value=title) }}
            </div>
        </form>
    </div>
{% endblock %}