{% extends "base.html" %}



{% block content %}
    <h1>Settlements</h1>

    <table class = "table"> <!--ikke slett-->
        <tr>
            <th style="font-size: 18px;">Insurance</th>
            <th style="font-size: 18px;">Description</th>
            <th style="font-size: 18px;">Sum(kr)</th>
        </tr>

        {% for settlement in settlements %}
            <tr>
                <td>{{ settlement.insurance.label }}</td>
                <td>{{ settlement.description }}</td>
                <td>{{ settlement.sum }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}