{% macro render_field(field, class='') %}
    <div class="mb-3 {{ class }}">
        {% if field.type == 'BooleanField' %}
            {{ field(class="form-check-input") }}
            {{ field.label(class="form-check-label") }}
        {% elif field.type == 'SubmitField' %}
            {{ field(class="btn btn-primary") }}
        {% else %}
            {{ field.label(class="form-label") }}
            {{ field(class="form-control", id=field.id, size=45) }}
        {% endif %}
    </div>
{% endmacro %}


{% macro render_form(title, form_action_url, form, class='') %}
    <div class="container col-md-6 offset-md-3 mt-5 mb-5 {{ class }}">
        <h2>{{ title }}</h2>
        <form method="POST" action="{{ form_action_url }}" class="mt-4">
            {{ form.hidden_tag() }}
            {% for field in form if field.type != 'CSRFTokenField' %}
                {{ render_field(field) }}
            {% endfor %}
        </form>
    </div>
{% endmacro %}


{% macro render_table(title, table, class='') %}

    <h1>{{ title }}</h1>

    <table class = "table">
        {% for row in table.keys %}
            <tr>
                <th style="font-size: 18px;">{{ row.name }}</th>
            </tr>
        {% endfor %}
    </table>

        {#
            
        {% for row in table.all %}
            <tr>
                <td>{{ row.label }}</td>
                <td>{{ row.value }}</td>
                <td>{{ row.price }}</td>
                <td>{{ row.due_date }}</td>
                <td>{{ row.company.name }}</td>
            </tr>
        {% endfor %}
            #}
{% endmacro %}



{% macro render_flashed_messages(class='') %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flashes m-4 {{ class }}">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show d-flex align-items-center" role="alert">
                        <!-- Add SVG icon based on the category -->
                        {% if category == 'info' %}
                            <i class="bi bi-info-circle-fill me-2"></i>
                        {% elif category == 'success' %}
                            <i class="bi bi-check-circle-fill me-2"></i>
                        {% elif category == 'warning' %}
                            <i class="bi bi-exclamation-circle-fill me-2"></i>
                        {% else %}
                            <i class="bi bi-x-circle-fill me-2"></i> 
                        {% endif %}
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
{% endmacro %}
