{% extends "base.html" %}

{% block title %}Register Insurance{% endblock %}



{% block content %}
    <div class="container">
        <h2 class="text-center">Register Insurance</h2>
        <form method="POST" action="{{ url_for('.make_insurance') }}" class="mt-4" id="insuranceForm">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.label.label(class="form-label") }}
                {{ form.label(class="form-control", id="label") }}
            </div>
            <div class="mb-3">
                {{ form.unit_type_id.label(class="form-label") }}
                {{ form.unit_type_id(class="form-select", id="unit_type_id") }}
            </div>
            <div class="mb-3">
                {{ form.value.label(class="form-label") }}
                {{ form.value(class="form-control", id="value") }}
            </div>
            <div class="mb-3">
                {{ form.price.label(class="form-label") }}
                {{ form.price(class="form-control", id="price") }}
            </div>
            <div class="mb-3">
                {{ form.due_date.label(class="form-label") }}
                {{ form.due_date(class="form-control", id="due_date") }}
            </div>
            <div class="mb-3">
                {{ form.company_id.label(class="form-label") }}
                {{ form.company_id(class="form-select", id="company_id") }}
            </div>
            
            <div class="mb-3">
                {{ form.submit(class="btn btn-primary", id="submitButton") }}
            </div>
        </form>
    </div>
    
    {% block scripts %}
    {% if not current_user.is_authenticated %}
    <script src="{{ url_for('static', filename='js/make_insurance.js') }}"></script>
    {% endif %}
    {% endblock %}
{% endblock %}


