{% extends "base.html" %}

{% block title %}Register Insurance{% endblock %}

{% block content %}
    <div class="container">
        <h2>Register Insurance</h2>
        <form method="POST" action="{{ url_for('.make_insurance') }}" class="mt-4">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.label.label(class="form-label") | escape }}
                {{ form.label(class="form-control", id="label") | escape }}
            </div>
            <div class="mb-3">
                {{ form.unit_type_id.label(class="form-label") | escape }}
                {{ form.unit_type_id(class="form-select", id="unit_type_id") | escape }}
            </div>
            <div class="mb-3">
                {{ form.value.label(class="form-label") | escape }}
                {{ form.value(class="form-control", id="value") | escape }}
            </div>
            <div class="mb-3">
                {{ form.price.label(class="form-label") | escape }}
                {{ form.price(class="form-control", id="price") | escape }}
            </div>
            <div class="mb-3">
                {{ form.due_date.label(class="form-label") | escape }}
                {{ form.due_date(class="form-control", id="due_date") | escape }}
            </div>
            <div class="mb-3">
                {{ form.company_id.label(class="form-label") }}
                {{ form.company_id(class="form-select", id="company_id") }}
            </div>
            
            <div class="mb-3">
                {{ form.submit(class="btn btn-primary") }}
            </div>



            

        </form>
    </div>
{% endblock %}