{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% from "macros.html" import render_field, render_button_field %}

{% block content %}
    <div class="container">
        <h2>Change Password</h2>
        <form method="POST" action="{{ url_for('.change_password') }}" class="mt-4">
            {{ form.hidden_tag() }}
            {{ render_field(form.current_password) }}
            {{ render_field(form.new_password) }}
            {{ render_button_field(form.submit) }}
        </form>
    </div>
{% endblock %}
