{% extends "base.html" %}

{% block content %}
    <h1 class="text-center">{{ title }}</h1>
    <div class="container">
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Admin:</strong> {{ user.is_admin }}</p>
        <a href="{{ url_for('auth.change_username') }}" class="btn btn-primary">Change Username</a>
        <a href="{{ url_for('auth.change_password') }}" class="btn btn-secondary">Change Password</a>
        <a href="{{ url_for('auth.delete') }}" class="btn btn-danger">Delete Account</a>
    </div>
{% endblock %}
