{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% from "macros.html" import render_field, render_boolean_field, render_button_field %}

{% block content %}
    <div class="container">
        <h2>Login</h2>
        <form method="POST" action="{{ url_for('.login') }}" class="mt-4">
            {{ form.hidden_tag() }}
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
            {{ render_boolean_field(form.remember_me) }}
            {{ render_button_field(form.submit) }}
        </form>
    </div>
{% endblock %}
